body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

.title {
    text-align: center;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__block {
    width: 300px;
    height: 300px;
}

.img__block img {
    object-fit: cover;
    width: 400px;
    height: 220px
    border-radius 5%;
}
    